<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        .bottom-right {
            position: fixed;
            bottom: 20px;
            right: 20px;
        }
    </style>
</head>
<body>
    <div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1 class="mb-4">About Me</h1>
                <p class="lead">I am a resilient Computer Science undergraduate and student-athlete with four years of programming experience in C and C++. Passionate about learning and expanding my knowledge in software development, I have a keen interest in backend development, DevOps, and systems programming but enjoy all aspects of technology. I thrive on tackling challenging projects that push my understanding to new heights.</p>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-md-6">
                <h2>My Skills</h2>
                <ul>
                    <li> 5 year division 1 Athlete - CSUB Wrestling</li>
                    <li>Proficient: C/C++, VS Code, Git, Active Directory, Python, Restful APIs</li>
                    <li>Exposure: VMware, SQL, JavaScript, React.js, HTML/CSS</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2>Education</h2>
                <p><strong>California State University, Bakersfield</strong></p>
                <p>Bachelor of Science, Computer Science (Expected May 2025)</p>
                <p>Overall GPA: 3.19</p>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-md-12">
                <h2>Projects</h2>
                <ul>
                    <li><strong>Real-Estate App (Senior Project Aug 2024 - Present)</strong>: Currently leading my team to create a fully functional real-estate app with a built in calculator. </li>
                    <li><strong>Social Media App (Aug 2023 - Dec 2023)</strong>: Developed a functional web-based social media app with front-end, back-end, and database integration.</li>
                    <li><strong>Terminal Game (Dec 2023 - Mar 2024)</strong>: Created a two-dimensional game with a UI running with Windows X11 graphics, including a game timer, score counter, and collision mechanics.</li>
                </ul>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-md-12">
                <h2>Work Experience</h2>
                <p><strong>Kern Medical - Information Systems Specialist (May 2024 - Present)</strong></p>
                <ul>
                    <li>Managed and maintained IT infrastructure and performed cable management duties.</li>
                    <li>Executed data erasure protocols and installed/configured hardware and software.</li>
                    <li>Required to posses strong problem-solving skills and adaptability to address a wide range of technical challenges, from troubleshooting hardware issues to optimizing software performance.</li>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="bottom-right">
        <a href="projects" class="btn btn-success">View My Projects</a>
    </div>
</body>
</html>